*,
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  color: inherit;
  width: 100%;
  display: inline-block;
  text-decoration: none;
}
a:hover{
  color: inherit;
  text-decoration: none;
}